@media only screen and (max-width: 430px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 36px;
        max-width: 1300px;
        width: 100%;
    }
    
    .h-nav {
        display: none;
    }

    .h-menu {
        display: block;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 63px;
        padding: 0 34.5px;
    }

    .header-c {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88%;
    }

    .header-ch {
        display: flex;
        max-width: 360px;
        width: 100%;
        justify-content: space-between  ;
        align-items: center;
    }

    .body {
        margin-bottom: 118px;
        display: flex;
        justify-content: center;
        padding: 0 34.5px;
    }

    .box-1__content--text {
        max-width: 360px;
        width: 100%;
    }

    .box-1__join--img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        width: 100%;
        gap: 28px;
    }

    .box-1__content--title {
        color: rgba(42, 42, 42, 1);
        font-weight: 600;
        font-size: 37.9px;
        line-height: 47px;
        max-width: 360px;
        width: 100%;
    }

    .c-1-box-2-ch {
        max-width: 360px;
        width: 100%;
        height: 654px;
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        border-radius: 12px;
        gap: 0;
        justify-content: center;
        position: relative;
    }

    .box-2__content--frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 26px;
    }

    .b-2-frame {
        height: 188px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .box-2__content--title {
        max-width: 300px;
        width: 100%;
        text-align: center;
        gap: 16px;
        color: rgba(43, 43, 43, 1);
        font-weight: 600;
        font-size: 39.7px;
        line-height: 53px;
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .box-2__content {
        height: fit-content;
        display: flex;
        gap: 40px;
        flex-direction: column;
        position: relative;
        top: 70px;
    }

    .box-2__content-ch {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .box-3__img {
        max-width: 360px;
        width: 100%;
        background: url("../img/box-3-img-1.png") no-repeat center/cover;
        height: 578px;
        border-radius: 16px;
    }

    .c-1-box-3 {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .box-3__content {
        display: flex;
        flex-direction: column;
        height: 478px;
        justify-content: center;
        gap: 26px;
    }

    .box-3__content-ch {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .box-3__content-ch--title {
        color: rgba(43, 43, 43, 1);
        font-weight: 600;
        font-size: 39.7px;
        line-height: 49px;
        max-width: 360px;
        width: 100%;
    }

    .box-3__content-ch--text {
        color: rgba(43, 43, 43, 1);
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        max-width: 360px;
        width: 100%;
    }

    .b-3-frame__img {
        min-width: 42px;
        height: 43px;
        border: 2px solid rgba(40, 94, 103, 1);
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: none;
    }

    .b-3-frame__text {
        color: rgba(42, 42, 42, 1);
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        max-width: 285px;
        width: 100%;
        color: rgba(40, 94, 103, 1);
    }

    .box-4__content--title {
        max-width: 340px;
        width: 100%;
        text-align: center;
        color: rgba(43, 43, 43, 1);
        font-weight: 600;
        font-size: 39.7px;
        line-height: 47px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 0;
        height: 99px;
    }

    .box-4__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 41px;
        max-width: 360px;
        width: 100%;
        padding-top: 0;
        position: relative;
        top: 0;
    }

    .c-1-box-4-ch {
        align-items: center;
        max-width: 360px;
        width: 100%;
        height: 577px;
        border-radius: 12px;
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        justify-content: center;
        gap: 87px;
    }

    .box-4__content--frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 41px;
    }

    .b-4-frame__text {
        max-width: 281px;
        width: 100%;
    }

    .c-1-box-4-ch-ch {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .box-5__content {
        max-width: 360px;
        width: 100%;
        min-height: 354px;
        border-radius: 12px;
    }

    .box-5__content--img {
        width: 46.56px;
        height: 41.47px;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content--img-ch {
        width: 22.24px;
        height: 24.21px;
    }

    .c-1-box-5-ch {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
        width: 100%;
        height: 1070px;
    }

    .b-5__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        top: 60px;
        position: relative;
    }

    .box-5__content--title {
        max-width: 220px;
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 21.33px;
        line-height: 31px;
        text-align: center;
    }

    .box-5__content--text {
        display: none;
    }

    .box-5-frame {
        margin: 0 auto;
        max-width: 298px;
        width: 100%;
        height: 701px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 49px;
        background-color: rgba(252, 226, 215, 1);
        border-radius: 12px;  
        position: relative;
        top: -45px;  
    }

    .box-5-frame-ch {
        margin: 0;    
        width: 100%;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 49px;
    }

    .b-5-frame {
        max-width: 298px;
        width: 100%;
        height: 118px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11px;
    }

    .footer {
        height: 365px;
        background-color: rgba(40, 94, 103, 1);
        display: flex;
        max-width: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer-ch {
        width: auto;
    }

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        width: 155px;
    }
}